doctype html
html
    head
        title About the team
        include ./head.pug
        link(rel='stylesheet', href='/css/about.css')
    body.is-preload
        include ./menu.pug
        section.wrapper
            .inner
                header.special
                    br
                    br
                    br
                    h2 About the Team
                    p(style='font-size:20px;')
                        | Great things in business are never done by one person. They're done by a team of people.
                        br
                        | - Steve Jobs






        .container
            .row
                .col.s12.m6
                    .card.small.grey.lighten-3
                        .container
                            div.col.s12(style='padding-top:20px')
                                blockquote(style='padding-top:20px')
                                    p
                                    | Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.
                            div.row(style='padding-top:30px')
                                div.col.s3
                                    img.circle.responsive-img(src='images/pic03.jpg', alt='' style='font-size:10px')
                                div.col.s9
                                    p.credit(style='font-size:14px')
                                        | -
                                        strong.red-text Sagar Chaudhari
                                        span
                                            br
                                            | B.Arch  , M.Arch (U.D)
                                            br
                                            | Head, Sparc Associates

                //- .col.s12.m6
                //-     .card.small.grey.lighten-3
                //-         .container
                //-             div.col.s12(style='padding-top:20px')
                //-                 blockquote(style='padding-top:20px')
                //-                     p
                //-                     | Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.
                //-             div.row(style='padding-top:30px')
                //-                 div.col.s3
                //-                     img.circle.responsive-img(src='images/pic03.jpg', alt='' style='font-size:10px')
                //-                 div.col.s9
                //-                     p.credit(style='font-size:14px')
                //-                         | -
                //-                         strong.red-text Sagar Chaudhari
                //-                         span
                //-                             br
                //-                             | B.Arch  , M.Arch (U.D)
                //-                             br
                //-                             | Head, Sparc Associates



               
        include ./footer.pug
