doctype html
html
    head
        title SpArc Shop
        include ./head.pug
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js')
    body
        include ./menu.pug

        main
            .container

                h3.center Team 

            .row
                .container
                    .col.s12.center(style="margin-bottom:60px")
                        img.circle.responsive-img(src="/images/blank.png", alt="", width="200")
                        .file-field.input-field(style="margin: 0px 40px 0px 40px")
                            .btn
                                span File
                                input(type='file')
                            .file-path-wrapper
                                input.file-path.validate(type='text')

                    .col.s12.m4.center
                        h5.center
                            |   Name
                        .input-field
                            input(type="text", id="name", class="validate")

                    .col.s12.m4.center
                        h5.center
                            |   Position
                        .input-field
                            input(type="text", id="position", class="validate")

                    .col.s12.m4.center
                        h5.center
                            |   Education
                        .input-field
                            input(type="text", id="education", class="validate")
                        
                    .col.s12.center
                        h5.center
                            |   Comments
                        .input-field
                            input(type="text", id="comments", class="validate", data-length="20")
        

